
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To The Super Shop Management System</a>.</p>
</div>

<hr />

@model List<items>

<div class="row">
    @foreach (var obj in Model)
    {
        <div class="col-md-2 mb-2">
            <div class="card border-info h-100">
                <div class="card-header">@obj.Name</div>
                <div class="card-body d-flex flex-column">
                    <div class="flex-grow-1">
                        <p class="card-text">Price: @obj.Price</p>
                        <p class="card-text">Location: @obj.location</p>
                    </div>
                    <div>
                        @if (!string.IsNullOrEmpty(obj.ImageUrl))
                        {
                            <img src="@Url.Content("~/images/" + obj.ImageUrl)" class="d-block user-select-none mx-auto mt-2" style="max-width: 75%; max-height: 150px;" alt="Image">
                        }
                        else
                        {
                            <span class="text-center">No Image Available</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


