@model items

<form asp-controller="Items" asp-action="Create" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-white">Add Items</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Name:</label>
                <input type="text" class="form-control" name="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label>Type:</label>
                <input type="text" class="form-control" name="Type" />
            </div>
            <div class="col-md-3">
                <label>Count:</label>
                <input type="number" class="form-control" name="Count" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label>Location:</label>
                <input type="text" class="form-control" name="Location" />
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <div class="col-md-6 text-left">
                <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
            </div>
            <div class="col-md-6 text-end">
                <a asp-controller="Items" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">Back to List</a>
            </div>
        </div>
    </div>
</form>
